apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: idp-web-hpa
  namespace: boldbi-cloud-test
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: idp-web-deployment
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 60
      policies:
      - type: Pods
        value: 1
        periodSeconds: 60
      - type: Percent
        value: 10
        periodSeconds: 60
