apiVersion: apps/v1
kind: Deployment
metadata:
  name: bi-dataservice-deployment
  namespace: boldbi-cloud-test
spec:
  selector:
    matchLabels:
      app: bi-dataservice
  # replicas: 1
  template:
    metadata:
      labels:
        app: bi-dataservice
    spec:
      containers:
      - name: bi-dataservice-container
        image: us-docker.pkg.dev/boldbi-dev-296107/boldbik8s/boldbi-designer-cloud:5.4.44202205301738407631
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 256M
          limits:
            cpu: 50m
            memory: 256M
        envFrom:
        - secretRef:
              name: boldbi-designer-secret
        readinessProbe:
          httpGet:
            path: /health-check
            port: 80
          initialDelaySeconds: 100
          periodSeconds: 10
          timeoutSeconds: 10


